#myNav {
  background-color: $color-darkBlue;
	transition: all .5s!important;
}

.navigation {
  width: 100%;

  .navbar-nav {
    padding: .5rem 2rem;

    @include respond(md) {
      padding: 2rem 0 2rem 4rem;
    }
  }

  .nav-item {
    font-family: "MKSMK3";
    font-size: 1.3rem;
  }

  .nav-link {
    color: $color-white;
    letter-spacing: .1rem;

    @include respond(md) {
      padding: 3rem 2rem;
    }

    @include respond(lg) {
      padding: 4rem 3rem;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .logo__menuButton {
    background-color: rgba(0, 0, 0, .5);

    @include respond(md) {
      //background-color: transparent;
    }

    .navbar-brand {
      padding-left: 2rem;

      @include respond(md) {
        padding-left: 5rem;
      }

      @include respond(lg) {
        padding-left: 6rem;
      }

      img {
        width: 14rem;

        @include respond(md) {
          width: 17rem;
        }

        @include respond(lg) {
          width: 19rem;
        }
      }
    }
  }

  button {
    font-family: 'MKSMK3';
    font-size: 1.2rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    color: $color-white;
    height: $sqr-xs;
    width: $sqr-xs;
    box-shadow: none!important;
    background-color: $color-primary;
    border-radius: 0;

    transition: background-color .2s;

    @include respond(md) {
      height: $sqr-md;
      width: $sqr-md;
      font-size: 1.4rem;
    }

    @include respond(lg) {
      height: $sqr-lg;
      width: $sqr-lg;
      font-size: 1.5rem;
    }

    &:focus {
      outline: none!important;
      border: none;
    }

    &:hover {
      background-color: $color-secondary;
    }
  }
}
