.pace {
  display: none;
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  border: 0px;
  border-radius: 3px;
  height: 2px;
  overflow: hidden;
  background: #1b1b1b;

  @include respond(md) {
    display: block;
  }
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: $color-secondary;
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  display: none;
  width: 100%;
  height: 100vh!important;
  background: $color-darkBlue;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 1031;

  @include respond(md) {
    display: block;
  }

  img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12%;
  }
}
