.sectionContainer {
	position: absolute;
  top: $sqr-xs-top;
	right: 0;
  height: calc(100% - 5.9rem);
  width: 100%;
  //background-color: orangered;

	@include respond(md) {
		top: $sqr-md-top;
		right: $sqr-md;
		height: calc(100% - 9.9rem);
		width: calc(100% - 10rem);
	}

	@include respond(lg) {
		top: $sqr-lg-top;
		right: $sqr-lg;
		height: calc(100% - 12.9rem);
		width: calc(100% - 13rem);
	}

	&-white-line {
		@include respond(md) {
			border-top: $thin_line-white;
		}
	}

	// &-black-line {
	// 	border-top: $thin_line-black;

	// 	@include respond(md) {
	// 		border-top: none;
	// 	}
	// }
}
