.generalHeader {
	padding: 3rem 0;
	margin-top: 6rem;

	@include respond(md) {
		margin-top: 10rem;
		padding: 5rem 0;
	}

	@include respond(lg) {
		margin-top: 13rem;
	}

	@include respond(xl) {
		padding: 8rem 0;
	}
}

.mainContents {

	&__stickySidebar {
		position: sticky;

		@include respond(md) {
			top: 53.5938px;
		}

		@include respond(lg) {
			top: 80px;
		}
	}

	&--border-top {
		@include respond(md) {
			border-top: $thin-line-black;
		}
	}
}

.videoPresentation {
	background-image: url(resources/img/sec2-bg.jpg);
	background-position: center left;
	background-size: cover;

	@include respond(lg) {
		height: 100vh;
	}

	video {

		@include respond(lg) {
			width: 60%!important;
		}
	}
}

.mainContents {
	@include respond(lg) {
		//padding-top: 3rem;
	}

	&__stickySidebar {

		ul {
			padding-top: 6rem;
			padding-bottom: 6rem;
			list-style: none;

			li {

				a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	&__contents {
		padding-top: 3rem;

		@include respond(md) {
			padding-top: 5rem;
			padding-right: 2rem;
		}

		@include respond(lg) {
			padding-right: 3rem!important;
			padding-left: 5rem!important;
		}

		&--full {
			@include respond(md) {
				padding-top: 4rem;
				padding-right: 0!important;
			}
	
			@include respond(lg) {
				padding-right: 0!important;
				padding-left: 0!important;
			}
		}
	}
}

//General Footer
.generalFooter {
	background-color: $color-footer;
	position: relative;

	.credit {
		@include respond(md) {
			border-top: $thin-line-white;
		}
	}

	img {
		max-width: 17rem;
		height: auto;
	}

	.links {
		@include respond(md) {
			border-left: $thin-line-white;
		}

		a {
			text-decoration: none;
			transition: color .2s ease-out;

			&:hover {
				color: $color-primary!important;
			}
		}
	}

	.contacts {

		h4 {

			span {
				border-left: $thin-line-white;
				padding: .5rem 1rem;
				margin-left: 1rem;
			}
		}

		.btn {
			width: 100%;
			padding: 4rem 0;
			background-color: $color-primary;

			transition: background-color .2s ease-out;

			&:hover {
				background-color: $color-secondary;
				color: $color-white!important;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}

.footer-row {
	border-top: $thin-line-white;

	a {
		transition: color .2s ease-out;

		&:hover {
			color: $color-primary!important;
		}
	}
}