// Imported Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 400;
  font-size: 1.4rem;
}

.navigation {

  .nav-item {
    font-family: "MKSMK3";
    font-size: 1.3rem;
  }

  button {
   font-family: 'MKSMK3';
   font-size: 1.2rem;
   letter-spacing: .25rem;
   text-transform: uppercase;
  }
}

//Header
.hero__text {
  font-family: "Metronic Pro";
  color: $color-white;

  h1 {
    font-size: 3rem;
    font-weight: 700;

    @include respond(lg) {
      font-size: 3.6rem;
    }

    span {
      font-size: 4rem;

      @include respond(lg) {
        font-size: 4.7rem;
      }
    }
  }

  p {
    font-size: 1.4rem;

    @include respond(lg){
      font-size: 1.7rem;
    }

  }
}

//SectionIntro
.sectionIntro {

  &__left {
    color: $color-white;
    padding: 3rem;

    @include respond(md) {
      padding: 5rem;
    }

    h2 {
      font-family: 'Metronic Pro';
      font-weight: 700;
      font-size: 3rem;

      @include respond(md) {
        font-size: 3rem;
      }

      @include respond(lg) {
        font-size: 4rem;
      }
    }

    p {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }

  &__right {

    p {
      position:  absolute;
      left: 12rem;
      color: #fff;
      font-size: 1.3rem;
      margin-bottom: 0!important;

      span {
        opacity: .4;

        &::before {
          position: absolute;
          content: "";
          top: -5px;
          background-color: #fff;
          opacity: .4;
          height: 3rem;
          width: 2px
        }
      }

      @include respond(md) {
        top: 14.8rem;
        left: calc(100% / 2 * 2 + -23rem);;
      }

      @include respond(lg) {
        top: 19.8rem;
        font-size: 1.5rem;
      }
    }
  }
}

.bottom_row {

  h4 {
    font-family: 'Metronic Pro';
    font-size: 2rem;
    font-weight: 600;

    @include respond(md) {
      //font-size: 2.2rem;
    }
  }

  P {
    font-size: 1.3rem;

    @include respond(md) {
      //font-size: 1.6rem;
    }
  }
}
