// Imported Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 400;
  font-size: 1.4rem;
}

.navigation {

  .nav-item {
    font-family: "MKSMK3";
    font-size: 1.3rem;
  }

  button {
   font-family: 'MKSMK3';
   font-size: 1.2rem;
   letter-spacing: .25rem;
   text-transform: uppercase;
  }
}

//Header
.hero__text {
  font-family: "Metronic Pro";
  color: $color-white;

  h1 {
    font-size: 3rem;
    font-weight: 700;

    @include respond(lg) {
      font-size: 3.6rem;
    }

    span {
      font-size: 4rem;

      @include respond(lg) {
        font-size: 4.7rem;
      }
    }
  }

  p {
    font-size: 1.4rem;

    @include respond(lg){
      font-size: 1.7rem;
    }

  }
}

//SectionIntro
.sectionIntro {

  &__left {
    color: $color-white;
    padding: 3rem;

    @include respond(md) {
      padding: 5rem;
    }

    h2 {
      font-family: 'Metronic Pro';
      font-weight: 700;
      font-size: 3rem;

      @include respond(md) {
        font-size: 3rem;
      }

      @include respond(lg) {
        font-size: 4rem;
      }
    }

    p {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }

  &__right {

    p {
      position:  absolute;
      left: 12rem;
      color: #fff;
      font-size: 1.3rem;
      margin-bottom: 0!important;

      span {
        opacity: .4;

        &::before {
          position: absolute;
          content: "";
          top: -5px;
          background-color: #fff;
          opacity: .4;
          height: 3rem;
          width: 2px
        }
      }

      @include respond(md) {
        top: 14.8rem;
        left: calc(100% / 2 * 2 + -23rem);;
      }

      @include respond(lg) {
        top: 19.8rem;
        font-size: 1.5rem;
      }
    }
  }
}

.bottom_row {

  h4 {
    font-family: 'Metronic Pro';
    font-size: 2rem;
    font-weight: 600;

    @include respond(md) {
      //font-size: 2.2rem;
    }
  }

  P {
    font-size: 1.3rem;

    @include respond(md) {
      //font-size: 1.6rem;
    }
  }
}

//sectionCeo
.sectionCeo {

  &__word-rotator {
    font-family: "MKSMK3";
    font-size: 1.3rem;

    @include respond(md) {
      font-size: 1.7rem;
    }

    @include respond(lg) {
      font-size: 1.9rem;
    }

    @include respond(xl) {
      //font-size: 2.6rem;
    }
  }

  &__intro {
    font-family: "Metronic Pro";
    color: $color-white;
    font-size: 1.4rem;

    @include respond(md) {
      color: #000;
    }

    .degs {
      font-size: 74%;
      opacity: .5;
    }

    .designation {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: -5px;
        background-color: #000;
        opacity: .2;
        height: 3rem;
        width: 1px
      }
    }

    @include respond(lg) {
      font-size: 1.5rem;
    }
  }

  &__tags {
    font-family: "Metronic Pro";
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-white;

    @include respond(md) {
      color: $color-blue;
      font-size: 3rem;
    }
  }

  &__foot {
    font-weight: 100;

    span {
      text-transform: uppercase;
    }

    @include respond(md) {
      font-size: 2.2rem;
    }
  }
}

#big_text {
  color: #FF0F54;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;

  @include respond(md) {
    font-size: 4.5rem;
  }

  @include respond(lg) {
    font-size: 5.5rem;
  }

  @include respond(xl) {
    font-size: 7rem;
  }
}

// sectionPresentation
.secondary-heading {
  font-family: 'Metronic Pro'; 
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 2rem;
  color: $color-white;

  @include respond(md) {
    margin-top: 0!important;
    font-size: 3.2rem;
  }

  @include respond(lg) {
    font-size: 4rem;
  }

  &-para {
    //font-size: 1.5rem;
    color: $color-white;
  }
}

.tertiary-heading {
  font-family: "Metronic Pro";
  font-size: 2rem;
  font-weight: 600;

  @include respond(md) {
    font-size: 2.2rem;
  }

  @include respond(lg) {
    font-size: 2.7rem;
  }

  &-para {
    font-size: 1.4rem;
  }
}

.sectionPresentation__textCarousel__controls {

  i {
    color: $color-white;

    @include respond(lg) {
      font-size: 2.5rem;
    }
  }
}

// sectionAlliance
.sectionAlliance__branding-row {

  h3 {
    font-family: "Metronic Pro";
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-white;

    @include respond(md) {
      font-size: 2rem;
    }

    @include respond(lg) {
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 1.3rem;
    color: $color-white;
  }
}

// sectionPartner
.top__text {
  padding: 1rem;

  h2 {
    font-family: "Metronic Pro";
    font-weight: 600;
    font-size: 2rem;

    @include respond(md) {
      font-size: 2.8rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.3rem;

    @include respond(md) {
      //font-size: 1.4rem;
    }

    @include respond(lg) {
      //font-size: 1.6rem;
    }
  }
}

.sectionPartner__sliderText {

  h3 {
    font-family: "Metronic Pro";
    //font-size: 1.9rem;
    font-weight: 500;
    color: $color-blue;

    @include respond(lg) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.2rem;

    @include respond(md) {
      //font-size: 1.3rem;
    }

    @include respond(lg) {
      //font-size: 1.4rem;
    }
  }
}

// secFooter
.footer {

  &__textCarousel__control {

    .arrow {

      ion-icon {

        @include respond(lg) {
          font-size: 2rem;
        }
      }
    }

    span {
      font-family: "Metronic Pro";
      font-weight: 600;
      color: #808080;
      font-size: 1.3rem;

      @include respond(lg) {
        font-size: 1.4rem;
      }

      &.active {
        color: #000;
      }
    }
  }

  &__textItem {

    h3 {
      font-family: "Metronic Pro";
      font-size: 2rem;
      font-weight: 600;

      @include respond(md) {
        font-size: 2.6rem;
      }
    }

    p {
      font-family: "Metronic Pro";

      @include respond(md) {
        padding: .5rem;
      }
    }

    .address {
      font-family: "Open Sans", sans-serif;
      font-size: 1.3rem;
    }
  }

  .socialLinks {

    a {
      font-family: "Metronic Pro";
      font-weight: 500;
      font-size: 1.3rem;
      margin-top: 3px;
      text-decoration: none;
      color: $color-white;
      transition: color .2s ease-in;
      padding: 2rem 0;

      &:hover {
        color: $color-secondary;
      }
    }

    .instagram {
      border-left: $thin_line-white;
    }
  }

  &__copyright {
    border-top: $thin_line-white;
    font-size: 1.4rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      a {
        text-decoration: none;
        color: $color-white;

        transition: color .2s ease-in;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}

// About page
// Header section
.general {
  font-family: "Metronic Pro";

  &--Header {
    font-weight: 700;

    @include respond(xl){
      font-size: 7rem;
    }
  }

  &--Para {
    h4 {
     font-size: 2.2rem; 
     font-weight: 600;
    }

    p {
      font-size: 1.7rem;
    }
  }
}

.companyInfo {
  p {
    line-height: 176%;

    @include respond(lg) {
     font-size: 1.6rem;
    }
  }
}