// Colors
$color-primary: #d19d73;
$color-secondary: #d8a77f;

$color-darkBlue: #272745;
$color-white: #fff;
$color-lightGrey: #f1f2f6;

$color-blue: #2c3b86;
$color-darkBlue: #272745;

$color-footer: #262626;

// Square Sizes
$sqr-xs: 6rem;
$sqr-sm: 8rem;
$sqr-md: 10rem;
$sqr-lg: 13rem;

// sec_container Sizes
$sqr-xs-top: 5.9rem;
$sqr-sm-top: 7.9rem;
$sqr-md-top: 9.9rem;
$sqr-lg-top: 12.9rem;

// lines
$thin_line-white: 1px solid rgba(255, 255, 255, 0.1);
$thin_line-black: 1px solid rgba(0, 0, 0, 0.1);
